/* --- MISE EN PAGE DE LA PAGE DE CONNEXION --- */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Centre le formulaire verticalement */
    padding: 20px;
}

.login-container {
    background-color: transparent;
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

/* --- LABELS ET INPUTS --- */

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-family: var(--font-body);
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 8px;
}

.input-group input {
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: #FFFFFF; /* Comme sur l'image */
    color: #333;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
}

.input-group input:focus {
    border: 1px solid var(--gold-color);
}



.blue-link {
    color: #3498db; /* Bleu comme sur l'image */
    font-size: 0.85rem;
    text-decoration: none;
}

.blue-link:hover {
    text-decoration: underline;
}

.btn-sign-in {
    background-color: #000000; /* Noir comme sur l'image */
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-bottom: 20px;
}

.btn-sign-in:hover {
    opacity: 0.8;
}


